<nav class="navbar">
    <div class="navbar-container">
      <a href="/" class="logo">ShopEasy</a>
      
      <div class="nav-links">
        <a href="/"><i class="fas fa-home"></i> Home</a>
        <a href="/cart" class="cart-link"><i class="fas fa-shopping-cart"></i> Cart <span class="cart-count">0</span></a>
        <a href="/wishlist" class="wishlist-link"><i class="fas fa-heart"></i> Wishlist <span class="wishlist-count">0</span></a>
        <button id="theme-toggle"><i class="fas fa-moon"></i></button>
      </div>
    </div>
  </nav>